<div (click)="closePasswordModal($event)" class="main-container">
  <app-header-student></app-header-student>
  <div class="search-bar">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="filterExam()"
      placeholder="Nhập tên hoặc mô tả bài thi để tìm kiếm..."
    />
  </div>
  <main (click)="closePasswordModal($event)" class="exam-detail__wrap">
    <table>
      <thead>
      <tr>
        <th>{{ this.examSession?.name }} - {{ this.examSession?.description }} / {{ this.examSession?.code }}</th>
        <th>Thời gian</th>
        <th>Ngày bắt đầu</th>
        <th>Ngày kết thúc</th>
        <th>Trạng thái</th>
      </tr>
      </thead>
      <tbody>
      <tr
        (click)="toggleUserInfoSelection($event)"
        *ngFor="let exam of filteredExams"
      >
        <td>{{ exam.name }}</td>
        <td>{{ exam.duration }}</td>
        <td>{{ exam.endDate }}</td>
        <td>{{ exam.startDate }}</td>
        <td>{{ getStatus(exam.startDate, exam.endDate) }}</td>
      </tr>
      </tbody>
    </table>

    <div #passwordForm [class.visible]="isPassword" class="password-form">
      <div class="container">
        <h2>Nhập password bài thi</h2>
        <div class="input-container">
          <input
            #inputBox
            (input)="onInput(i, $event)"
            (keydown)="onKeyDown(i, $event)"
            *ngFor="let input of inputs; let i = index"
            class="input-box"
            maxlength="1"
            type="text"
          />
        </div>
      </div>
    </div>
  </main>
</div>
