<div (click)="closePasswordModal($event)" class="main-container">
  <app-header-student></app-header-student>
  <app-search-bar>
    <app-find-button>Tìm bài thi</app-find-button>
  </app-search-bar>
  <main (click)="closePasswordModal($event)" class="exam-detail__wrap">
    <table>
      <thead>
      <tr>
        <th>{{ examType }} - {{ examName }} / {{ examCode }}</th>
        <th>Thời gian</th>
        <th>Ngày bắt đầu</th>
        <th>Trạng thái</th>
      </tr>
      </thead>
      <tbody>
      <tr
        (click)="toggleUserInfoSelection($event)"
        *ngFor="let exam of exams"
      >
        <td>{{ exam.name }}</td>
        <td>{{ exam.duration }}</td>
        <td>{{ exam.dateCreated }}</td>
        <td>{{ exam.status }}</td>
      </tr>
      </tbody>
    </table>

    <div #passwordForm [class.visible]="isPassword" class="password-form">
      <div class="container">
        <h2>Nhập password bài thi</h2>
        <div class="input-container">
          <input
            #inputBox
            (input)="onInput(i, $event)"
            (keydown)="onKeyDown(i, $event)"
            *ngFor="let input of inputs; let i = index"
            class="input-box"
            maxlength="1"
            type="text"
          />
        </div>
      </div>
    </div>
  </main>
</div>
