<div class="container">
  <header class="header">
  <div class="wraper-logo">
    <div class="logo">Online Exam Portal</div>
    <nav class="breadcrumb">
      <span>►</span>
      <span>Kỳ thi: {{exam_session_name}}-{{exam_session_description}}</span>
      <span>►</span>
      <span>Tạo đề mới</span>
    </nav>
  </div>
  <div class="return-button">
    <button (click)="goBack()">Quay lại</button>
  </div>
</header>

  <div class="tab-wrap">
    <div
      (click)="setActiveTab('left')"
      [class.active]="activeTab === 'left'"
      class="tab"
    >
      <p class="tab-desc">Thông tin câu hỏi</p>
    </div>
    <div
      (click)="setActiveTab('right')"
      [class.active]="activeTab === 'right'"
      class="tab"
    >
      <p class="desc">Thông tin bài thi</p>
    </div>
  </div>

  <main class="main">
    <app-question *ngIf="activeTab === 'left'"></app-question>
    <app-info *ngIf="activeTab === 'right'"></app-info>
  </main>
</div>
