<div class="container">
  <div class="login-header">
    <a routerLink="">Online Exam Portal</a>
      <div class="user-type">
        <button (click)="onUserTypeChange()" class="user-type-button" data-hover="Thay đổi vai trò">Tôi là học sinh</button>
      </div>
  </div>


  <div class="login-container">
    <div class="login-form">
      <h3 style="font-size: 36px">Học sinh đăng nhập</h3>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="input-wrapper">
          <input type="text" formControlName="contact" placeholder="Email/ Số điện thoại" required />
          <div *ngIf="loginForm.get('contact')?.touched && loginForm.get('contact')?.errors">
            <small *ngIf="loginForm.get('contact')?.errors?.['required']" class="error">Liên hệ không được để trống.</small>
            <small *ngIf="loginForm.get('contact')?.errors?.['email']" class="error">Định dạng email không hợp lệ.</small>
          </div>
        </div>
        <div class="input-wrapper">
          <input type="password" formControlName="password" placeholder="Mật khẩu" required />
          <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors">
            <small *ngIf="loginForm.get('password')?.errors?.['required']" class="error">Mật khẩu không được để trống.</small>
          </div>
        </div>
        <a routerLink="/forgot-password" class="forgot-password">Quên mật khẩu?</a>
        <button type="submit" [disabled]="loginForm.invalid">Đăng nhập</button>
        <p class="register">Bạn chưa có tài khoản? <a routerLink="/sign_up/student">Đăng ký ngay</a></p>
      </form>
    </div>

    <div class="login-image">
      <img ngSrc="/Login.png" alt="Login Illustration" height="584" width="584"/>
    </div>
  </div>
</div>
