* {
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin-left: 7%;
  margin-right: 7%;
}

.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-header h2 {
  font-size: 24px;
  font-weight: bold;
}

.login-header a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

.user-type-button {
  background: #ffffff;
  color: #000000;
  border: 1px solid #333333;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
}

.user-type-button::after {
  content: attr(data-hover);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  opacity: 0;
  white-space: nowrap;
}

.user-type-button:hover::after {
  opacity: 1;
}

.user-type-button:hover {
  background: #00A859;
  border: 1px solid #00a758;
  color: transparent; /* Ẩn nội dung gốc khi hover */
}


.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.login-form {
  width: 40%;
}

.login-form h3 {
  margin: 20px 0;
}

.login-form form {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  position: relative;
  margin: 10px 0;
}

.login-form input,
button {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.forgot-password {
  text-align: left;
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
  margin-bottom: 20px;
  margin-top: 5px;
}

.forgot-password:hover {
  text-decoration: underline;
}

button {
  background-color: #00a859;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, font-weight 0.3s;
}

button:hover {
  background-color: #008c4a;
}

.register {
  margin-top: 15px;
  font-size: 14px;
}

.register a {
  color: #007bff;
  text-decoration: none;
}

.register a:hover {
  text-decoration: underline;
}

.login-image {
  width: 600px;
  border-radius: 10px;
}

.error {
  position: absolute;
  bottom: -16px;
  left: 0;
  color: red;
  font-size: 10px;
}
