* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin-left: 7%;
  margin-right: 7%;
}

.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-header h2 {
  font-size: 24px;
  font-weight: bold;
}

.login-header a{
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

.user-type select {
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.login-form {
  width: 40%;
}

.login-form h3 {
  margin: 20px 0;
}

.login-form form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.forgot-password {
  text-align: left;
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
  margin-bottom: 20px;
}

.forgot-password:hover {
  text-decoration: underline;
}

button {
  padding: 12px;
  background-color: #00a859;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, font-weight 0.3s;
}

button:hover {
  background-color: #008c4a;
}

.register {
  margin-top: 15px;
  font-size: 14px;
}

.register a {
  color: #007bff;
  text-decoration: none;
}

.register a:hover {
  text-decoration: underline;
}

.login-image {
  width: 600px;
  border-radius: 10px;
}
