<div class="question-input-number">
  <div class="container">
    <div class="number-input-wrap">
      <label for="question-number">Số câu</label>
      <input
        (change)="onQuestionNumberChange($event)"
        [(ngModel)]="questionNumber"
        class="number-input"
        id="question-number"
        type="number"
      />
      <label for="grade">Số điểm</label>
      <input class="number-input" id="grade" type="number"/>
    </div>
    <button (click)="generateQuestions()" class="generate-button">
      Tạo câu hỏi
    </button>
  </div>
</div>

<div class="container">
  <div class="question-list-wrap">
    <ul class="question-list">
      <li *ngFor="let question of questions; let i = index" class="question">
        <div class="question-name">
          <p class="question-name-number">Câu {{ i + 1 }}:</p>
          <input
            (ngModelChange)="saveState()"
            [(ngModel)]="questions[i].text"
            class="question-name-input"
            placeholder="Type something..."
            type="text"
          />
        </div>
        <p class="correct-answer">Đáp án đúng</p>
        <div class="input-wrap">
          <input
            (ngModelChange)="saveState()"
            [(ngModel)]="questions[i].answers['1']"
            class="answer-input correct"
            placeholder="Nhập câu trả lời 1"
            type="text"
          />
          <input
            (ngModelChange)="saveState()"
            [(ngModel)]="questions[i].answers['2']"
            class="answer-input"
            placeholder="Nhập câu trả lời 2"
            type="text"
          />
          <input
            (ngModelChange)="saveState()"
            [(ngModel)]="questions[i].answers['3']"
            class="answer-input"
            placeholder="Nhập câu trả lời 3"
            type="text"
          />
          <input
            (ngModelChange)="saveState()"
            [(ngModel)]="questions[i].answers['4']"
            class="answer-input"
            placeholder="Nhập câu trả lời 4"
            type="text"
          />
        </div>
      </li>
    </ul>
  </div>
</div>
