<div class="question-input-number">
  <div class="container">
    <div class="number-input-wrap">
      <label for="question-number">Số câu</label>
      <input
        class="number-input"
        id="question-number"
        type="number"
        [(ngModel)]="questionNumber"
        (change)="onQuestionNumberChange($event)"
      />
      <label for="grade">Số điểm</label>
      <input class="number-input" id="grade" type="number" />
    </div>
    <button class="generate-button" (click)="generateQuestions()">
      Tạo câu hỏi
    </button>
  </div>
</div>

<div class="container">
  <div class="question-list-wrap">
    <ul class="question-list">
      <li *ngFor="let question of questions; let i = index" class="question">
        <div class="question-name">
          <p class="question-name-number">Câu {{ i + 1 }}:</p>
          <input
            class="question-name-input"
            placeholder="Type something..."
            type="text"
          />
        </div>
        <p class="correct-answer">Đáp án đúng</p>
        <div class="answer correct">
          <input
            class="answer-input"
            placeholder="Type something..."
            type="text"
          />
        </div>
        <p class="other-answer">Đáp án còn lại</p>
        <div class="answer">
          <input
            class="answer-input"
            placeholder="Type something..."
            type="text"
          />
        </div>
        <div class="answer">
          <input
            class="answer-input"
            placeholder="Type something..."
            type="text"
          />
        </div>
        <div class="answer">
          <input
            class="answer-input"
            placeholder="Type something..."
            type="text"
          />
        </div>
      </li>
    </ul>
  </div>
</div>
