<div class="container">
  <div class="form-wrap">
    <form (ngSubmit)="saveInfo()" class="form">
      <h2 class="form-heading">Thông tin bài thi</h2>

      <div class="input-wrap">
        <label class="form-desc" for="exam-name">Tên bài thi</label>
        <input
          [(ngModel)]="examName"
          id="exam-name"
          name="examName"
          type="text"
        />
      </div>

      <div class="exam-type">
        <p class="form-desc">Loại bài thi</p>
        <div (click)="toggleExamTypeList()" class="list-wrap">
          {{ selectedExamType || "Chọn loại bài thi" }}
          <ul class="exam-type-list active" id="examTypeList">
            <li (click)="selectExamType('15 phút')" class="type">15 phút</li>
            <li (click)="selectExamType('45 phút')" class="type">45 phút</li>
            <li (click)="selectExamType('60 phút')" class="type">60 phút</li>
            <li (click)="selectExamType('90 phút')" class="type">90 phút</li>
          </ul>
        </div>
      </div>

      <div class="input-wrap">
        <label class="form-desc" for="exam-password">Mật khẩu bài thi</label>
        <input
          [(ngModel)]="examPassword"
          id="exam-password"
          name="examPassword"
          type="password"
        />
      </div>

      <button type="submit" class="submit">Tạo bài thi</button>
    </form>
  </div>
</div>
