<app-header-student></app-header-student>
<app-search-bar>
  Tìm kỳ thi với mã
</app-search-bar>
<div class="exam-table">
  <table>
    <thead>
    <tr>
      <th>Tên kỳ thi</th>
      <th>Học sinh</th>
      <th>Số lượng đề</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let exam of exams" (click)="navigateToExamDetail(exam)">
      <td>
        <p class="exam-name">{{ exam.name }}</p>
        <p class="class-code">Mã lớp: {{ exam.examCode }}</p>
      </td>
      <td>{{ exam.students }}</td>
      <td>{{ exam.tests }}</td>
    </tr>
    </tbody>
  </table>
</div>
