<app-header></app-header>
<app-search-bar>
  <app-create-button></app-create-button>
</app-search-bar>
<div class="table-container">
  <table>
    <tbody>
    <tr>
      <th>Tên kỳ thi đã tạo</th>
      <th>Ngày tạo</th>
      <th>Trạng thái</th>
      <th>Dạng đề bài</th>
    </tr>
    <tr (click)="navigateToExamDetail(exam)" *ngFor="let exam of examList">
      <td>
        <p class="exam-name">{{ exam.name }} - {{ exam.description }}</p>
        <p class="class-code">Mã lớp: {{ exam.id }}</p>
      </td>
      <td>{{ exam.createDate }}</td>
      <td>{{ exam.status }}</td>
      <td>{{ exam.type }}</td>
    </tr>
    </tbody>
  </table>
</div>
