<header class="header">
    <div class="wraper-logo">
        <div class="logo">Online Exam Portal</div>
        <nav class="breadcrumb">
            <span>►</span>
            <span>Tạo kì thi</span>
        </nav>
    </div>
    <div class="return-button">
        <button (click)="goBack()">quay lại</button>
    </div>
</header>
<div class="exam-create-container">
    <div class="option-card">
        <img alt="Kho học liệu" class="option-icon" height="512" ngSrc="/icon/autoGenerateExam.png" width="512"/>
        <h3>Sử dụng kho học liệu</h3>
        <p>Sử dụng lại những câu hỏi biên soạn để sinh đề tự động</p>
        <button (click)="navigateToECWF()" class="primary-btn">Chọn</button>
    </div>

    <div class="option-card">
        <img alt="Tải lên từ máy tính" class="option-icon" height="512" ngSrc="/icon/UpLoadFileExam.png" width="512"/>
        <h3>Tải lên từ máy tính</h3>
        <p>Tải đề bài lên từ máy tính và cấu hình bài tập mới</p>
        <button (click)="navigateToECWF()" class="primary-btn">Bắt đầu</button>
    </div>
</div>
